/* Archivo Aboutme.css */

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilo para la palabra "Hola" */
.greeting {
  font-size: 4rem; /* Aumentamos el tamaño de la palabra "Hola" */
  font-weight: bold;
  display: inline-block;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Animación para "Hola" */
.greeting.slideDown {
  animation: slideDown 1s ease-out;
}

/* Estilo para el texto principal (Hola, soy un Desarrollador) */
.greeting-text {
  font-size: 4rem; /* Aumentamos el tamaño del texto */
  font-weight: bold;
  text-align: center; /* Centramos el texto */
  color: #333; /* Color oscuro para mejorar la visibilidad */
  margin-bottom: 20px;
}
/* Estilo para los items del Accordion */
.accordion-button:not(.collapsed) {
  background-color: #007bff;
  color: white;
}

/* Estilo para el hover (opcional si no lo necesitas) */
.accordion-item:hover {
  background-color: #f8f9fa;
}

.nav-text{
  font-size: 1.3rem; /* Aumentamos el tamaño del texto */
  font-weight: bold;
  text-align: center; /* Centramos el texto */
  color: #333; /* Color oscuro para mejorar la visibilidad */
  margin-bottom: 20px;
  cursor: pointer;

}
.nav-text,
.nav-text:hover {
  text-decoration: none !important;
  
}