.card-link {
  text-decoration: none; /* Quita el subrayado de texto */
  color: inherit; /* Mantiene el color del texto */
}

.hover-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Suaviza la transición */
}

.hover-card:hover {
  transform: scale(1.05); /* Agranda ligeramente la tarjeta al hacer hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en hover */
}
.icon-green {
  color: green;
}
